# Rider-specific files and directories
.idea/
*.sln.iml
*.csproj.user
*.suo
*.userprefs
*.resharper.user
_ReSharper*/
*.DotSettings.user
*.sln.DotSettings.user
*.sln.DotSettings
*.DotSettings

# Compiled output
/bin/
/obj/

# NuGet packages
*.nuget/
*.nupkg

# User-specific files
*.user
*.suo
*.userprefs

# Rider backup files
*~

# Logs
/logs/

# Visual Studio Code
.vscode/

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db